header {
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: #0097b2;
}

header img {
    height: 90px;
    width: auto;
}

.inicio {
    background-color: bisque;
    padding: 20px;
    text-align: center;
}

.valores {
    display: flex;
    justify-content: center;
    gap: 180px;
}

.valor {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-family: sans-serif;
}

.seguridad {
    background-color: red;
}

.transparencia {
    background-color: #4b2e2e;
}

.dedicacion {
    background-color: #c49a6c;
}
