header {
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: #0097b2;
}

header img {
    height: 90px; /* Ajusta el tamaño según necesites */
    width: auto;
}

footer{
    background-color: #faf3e0;
    text-align: right
}
* {
            box-sizing: border-box;
            font-family: Arial, sans-serif;
        }

        body {
            background-color: #f6f0dc;
            margin: 0;
            padding: 40px;
        }

        .container {
            display: flex;
            gap: 40px;
            max-width: 900px;
            margin: auto;
        }

        .formulario {
            flex: 2;
        }

        input {
            width: 50%;
            padding: 10px;
            margin-bottom: 12px;
            border-radius: 20px;
            border: 1px solid #aaa;
        }

        .estado {
            display: flex;
            flex-direction: column;
            gap: 4px;
            margin-bottom: 15px;
        }

        button {
            background-color: #1f8f9b;
            color: white;
            border: none;
            padding: 10px 25px;
            border-radius: 8px;
            cursor: pointer;
        }

        .perfil {
            flex: 1;
            text-align: center;
        }

        .avatar {
            width: 120px;
            height: 120px;
            background-color: #ccc;
            border-radius: 50%;
            margin: auto;
            margin-bottom: 15px;
        }

        .perfil a {
            display: block;
            color: #1f8f9b;
            text-decoration: none;
            margin: 5px 0;
        }
