body {
    margin: 0;
    font-family: 'League Spartan', sans-serif;
    background-color: #faf3e0;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: #0097b2;
    justify-content: space-between; 
    padding: 10px 20px;
    height: 70px;
    position: sticky;
    top: 0;
    z-index: 1100;
}

.header-logos {
    display: flex;
    align-items: center;
    gap: 15px;
}

header img {
    height: 90px;
    width: auto;
}

.inicio {
    background-color: bisque;
    padding: 20px;
    text-align: center;
}

.valores {
    display: flex;
    justify-content: center;
    gap: 180px;
}

.valor {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-family: sans-serif;
}

.seguridad {
    background-color: red;
}

.transparencia {
    background-color: #4b2e2e;
}

.dedicacion {
    background-color: #c49a6c;
}
footer{
    background-color: #faf3e0;
    text-align: right
}

#toggle-btn {
    background: #dcb38b;
    border: none;
    color: white;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 8px;
    font-size: 24px;
    transition: background 0.3s;
}

#toggle-btn:hover {
    background: #c99d73;
}

.sidebar {
    width: 240px;
    height: calc(100vh - 90px); 
    background-color: #dcb38b;
    color: white;
    position: fixed; 
    right: 0;
    top: 90px;
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 1000;
    box-shadow: -2px 5px 10px rgba(0,0,0,0.1);
}

.sidebar.collapsed {
    transform: translateX(100%);
}

.sidebar-header {
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    font-weight: bold;
}

.menu {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.item {
    display: flex;
    align-items: center;
    padding: 15px 25px;
    color: white;
    text-decoration: none;
    transition: 0.2s;
}

.item:hover {
    background-color: #0097b2;
}

.icon {
    min-width: 35px;
}

.content {
    padding: 40px;
}

.hero {
    position: relative;
    width: 100%;
    height: 420px;
    background-image: url("../img/animales_index.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    padding-left: 60px;
    align-items: flex-end;
    justify-content: flex-start;
}


.hero-contenido {
    position: relative;
    color: black;
    max-width: 500px;
}

.hero-contenido h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero-btn {
    display: inline-block;
    background-color: white;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;
    transition: background 0.3s;
}

.hero-btn:hover {
    background-color: #e0e0e0;
}

.seccion-protectoras {
    position: relative;
    width: 100%;
    height: 360px;
    background-image: url("../img/animales_index.jpg");
    background-size: cover;
    background-position: center;

    display: flex;
    align-items: flex-start;
    padding-top: 40px;
    margin: 60px 0;
}

.protectoras-contenido {
    color: black;
    max-width: 400px;
}

.protectoras-contenido h2 {
    font-size: 28px;
    margin-bottom: 15px;
    line-height: 1.2;
}

.protectoras-btn {
    display: inline-block;
    background-color: white;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;
    transition: background 0.3s;
}

.protectoras-btn:hover {
    background-color: #e0e0e0;
}
