header {
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: #0097b2;
}

header img {
    height: 90px; /* Ajusta el tamaño según necesites */
    width: auto;
}

footer{
    background-color: #faf3e0;
    text-align: left

}

footer img{
    width: 15%;
}